<%= stylesheet_link_tag    'categories.css.sass', media:'all', 'data-turbolinks-track' => true %>
<h1>Nouvelle image</h1>

<div class="panel panel-default">
	<div class="panel-body">
	<%= render 'form' %>
	</div>
</div>

<%= link_to 'Back', pictures_path %>
