<%= stylesheet_link_tag    'categories.css.sass', media:'all', 'data-turbolinks-track' => true %>
<h1>Créer la catégorie</h1>

<div class="panel panel-default">
	<div class="panel-body">
	<%= render 'form' %>
	</div>
</div>


<%= link_to 'Back', categories_path %>
